// COLORS
$headerColor: #5095A9;
$headerFontColor: #10404D;
$headerBorderColor: #12343D;
$bodyBGColor: #BFE0E9;
$linkColor: #10404D;
$photoBorderColor: #FFF2D5;

// FONTS
$lobster: 'Lobster', cursive;
$lobster2: 'Lobster Two', cursive;
$textFont: 'Source Sans Pro', sans-serif;
